body {
  font-family: "Montserrat", serif;
  background-color: #f6f6fa;
  padding: 40px;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
  background-color: #ffff;
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}
.content {
  padding: 88px 80px 40px 80px;
}
.sidebar {
  background-color: #0ebfe0;
  padding: 40px 40px;
}
.sidebar-content {
  padding: 40px;
}
.contacts {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0 8px;
}
span {
  color: #161d2a;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 8px;
}
.contancts-link {
  color: #2979ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}
.item {
  margin-top: 0;
  margin-bottom: 8px;
}
.contacts-container {
  margin-bottom: 40px;
}
.skills {
  margin-bottom: 40px;
}
.skills-title {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}
.skills-list {
  padding-left: 16px;
}
.skills-list-item {
  color: #161d2a;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
}
.size {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 8px;
}
.name {
  color: #000;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  margin-top: 0;
  margin-bottom: 12px;
}
.text {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.info {
  margin-bottom: 40px;
}
.projects {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 8px;
}
.project-item {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.list {
  padding-left: 16px;
}
.item-link {
  color: #005fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
}
.tech {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.projects-container {
  margin-bottom: 40px;
}
.work {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  margin-top: 0;
  line-height: 24px;
  margin-bottom: 8px;
}
.work-company {
  margin-bottom: 12px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.Freelance {
  margin-bottom: 12px;
  color: #6090f5;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.bio {
  color: #ababab;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 8px;
}
.separator {
  color: #000;
}
.duties-list {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.duties-item {
  padding-left: 16px;
}
.work-container {
  margin-bottom: 12px;
}
